In [19]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
from pyvis.network import Network

In [37]:
df = pd.read_csv('data.csv')

In [38]:
df

,שם הארגון,סוג הארגון,תחום השירות העיקרי,Value
0,wisegal,אחר:,אחר:,NaN
1,wisegal,עסק פרטי,אחר:,NaN
2,Bettercare,סטארט אפ,סיעוד,aging4good
3,Bettercare,סטארט אפ,סיעוד,אגף הגריאטריה במשרד הבריאות
4,Bettercare,סטארט אפ,סיעוד,ג'וינט אשל
...,...,...,...,...
1432,תנועת תרבות,"מגזר שלישי (עמותה רשומה/חל""צ)",הפגת בדידות,NaN
1433,תנועת תרבות,"מגזר שלישי (עמותה רשומה/חל""צ)",הפגת בדידות,הרשויות המקומיות (כללי)
1434,תקווה לפרקינסון,"מגזר שלישי (עמותה רשומה/חל""צ)",אחר:,NaN
1435,תקווה לפרקינסון,"מגזר שלישי (עמותה רשומה/חל""צ)",אחר:,"ארגון ""יד שרה"""
1436,תקווה לפרקינסון,"מגזר שלישי (עמותה רשומה/חל""צ)",אחר:,"עמותת מלב""ב"

In [43]:
df[['','']].groupby(['סוג הארגון']).count()
# set(df['תחום השירות העיקרי'].tolist())

,שם הארגון,תחום השירות העיקרי,Value
סוג הארגון,,,
Environmental gerontology researcher,3,3,2
Startup,0,0,0
אגודה רשומה ללא רווח,1,1,0
אחר:,82,99,55
אשכול רשויות,0,1,0
...,...,...,...
"פסיכותרפיסטית מומחית זיקנה, מרצה, מדריכה, מנחת קבוצות",0,3,3
קליניקה משפטית במוסד אקדמי,3,3,2
קרן השקעות,0,1,0
רשות מקומית/מועצה איזורית,90,107,74
שרות הרווחה,2,2,1

In [44]:
# df.dropna(axis='columns')
df = df[df['שם הארגון'].notna()]
df = df[df['Value'].notna()]

In [45]:
df = df[['שם הארגון','Value']]

In [46]:
G = nx.from_pandas_edgelist(df, source='שם הארגון', target = 'Value',create_using=nx.DiGraph())

In [47]:
# net = Network(notebook=True)
net = Network(directed =True)

In [48]:
net.from_nx(G)

In [49]:
net.show('network.html')